@font-face {
    font-family: Nova;
    src: url(Nova_Mono/NovaMono-Regular.ttf);
}

header {
    background-image: linear-gradient(to bottom right, #9286EA, #EF6794);
    color: #F3F3F1;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1 {
    font-size: 80px;
    padding: 10px 500px 10px 50px;
    margin: auto;
    font-family: Nova;
}

nav ul{
    background-color: #18142D;
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style: none;
    padding: 10px 20px;
    
}

a {
    text-decoration: none;
    color: #F3F3F1;
}

#main-section {
    background-color: #f0f0f0;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: auto; 
    height:100%;   
}

aside {
    background-color: #454545;
    display: grid;
    padding: 20px;
    color: white;
    
}

article {
    display: grid;
    padding: 20px;
}

footer {
    background-color: #18142D;
    color: #F3F3F1;
    text-align: center;
    padding: 20px;
}
